<div class="container mx-auto clearfix mt-2 mt-lg-4 px-2">
  <div class="border-top-thick">
    <p class="col-8 sm-width-full left py-2 mb-0">Proyecto creado y mantenido por Rapo, <a href="https://rapofran.com.ar">rapofran.com.ar</a></p>
  </div>
</div>
